version: '3.8'

services:
  postgres:
    container_name: postgres
    image: postgres
    ports:
      - 5432:5432
    env_file:
      - .env.local
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
  ajuda-rg:
    build:
      context: .
    container_name: ajuda-rg
    ports:
      - 3000:3000
    environment:
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - NEXT_PUBLIC_URL=${NEXT_PUBLIC_URL}
      - NODE=${NODE}
      - DATABASE_URL=${DATABASE_URL}
