DATABASE_URL="postgresql://postgres:admin@localhost:5432/ajudarg?schema=public"

NEXTAUTH_URL="localhost:3000"
NEXTAUTH_SECRET=231812893127831
NEXT_PUBLIC_URL="http://localhost:3000"
# SENDGRID_API_KEY="SG.7"
# NODE=production
